Flask==1.1.2
flask-ngrok==0.0.25
Jinja2==2.11.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-core==4.6.3

MarkupSafe==1.1.1
matplotlib==3.2.1
matplotlib-venn==0.11.5

notebook>=5.7.8
numpy==1.18.5

pandas==1.0.4
pandas-datareader==0.8.1
pandas-gbq==0.11.0
pandas-profiling==1.4.1
pandocfilters==1.4.2

Pillow==7.0.0
pip-tools==4.5.1

scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1

scs==2.1.2
seaborn==0.10.1

simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
sklearn-pandas==1.8.0



statsmodels==0.10.2
sympy==1.1.1



webencodings==0.5.1
Werkzeug==1.0.1
