<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Result
		</title>
		<style>

html {
  			scroll-behavior: smooth;
 	}

 		header{
			
		    background-color: #ff4339;
		    padding: 5px;
		    text-align: center;
		    font-size: 25px;
		    color: white;
    }

    	fieldset {

  			background-color: #ffffff;
  			font-family: montserrat;
	}
		
	legend {
  			background-color: gray;
  			color: white;
  			padding: 5px 10px;
  			font-size: 25px;
	}


		</style>


	</head>


<body style="background-color:#333;">

	<div class="login">
		<header>
			<h1 style = "font-family:Montserrat;text-align: center">Heart Disease Predictor</h1>
		</header>
	</div>

	<br>

	<fieldset>
		<legend>Result</legend>
		<h2 style="text-align:center;">{{Result}}</h2>
	</fieldset>

		


</body>
</html>



